.comming-soon {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #96000b, #000);
}

#beerCanvas {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.coming_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.coming_content h1 {
  font-size: 5.625em;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-family: "Frank Ruhl Libre", serif;
}
.coming_content .separator_container {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  margin: 12px 0;
}
.coming_content .separator_container:before, .coming_content .separator_container:after {
  display: table;
  content: "";
}
.coming_content .separator_container:after {
  clear: both;
}
.coming_content .separator {
  color: #fff;
  margin: 0 auto 1em;
  width: 11em;
}
.coming_content .line_separator svg {
  width: 30px;
  height: 20px;
}
.coming_content .line_separator:before, .coming_content .line_separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 14px;
  border: 1px solid #fff;
}
.coming_content .line_separator:before {
  float: left;
}
.coming_content .line_separator:after {
  float: right;
}
.coming_content h3 {
  font-family: "Mada", sans-serif;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.coming_content h3 a {
  text-decoration: underline;
}